.timer {
  display: block;
  font-size: 75px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer h1 {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
}

.moveWord {
  position: absolute;
  font-size: 60px;
  color: #fff;
  text-align: center;
  text-shadow: rgb(112, 111, 107) 1px 0 10px;
  width: 100%;
  z-index: 15;
  top: 0vh;
  transition: 1s linear all;
}

.savannah {
  background-image: url("./images/background.jpg");
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto 100%;
  animation: animatedBackground 500s linear infinite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 10000px;
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 30;
  align-self: flex-end;
}
.top__exit {
  z-index: 30;
}
.top__health {
  display: flex;
  z-index: 30;
}

.center {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.button__choise {
  font-size: 30px;
  padding: 10px 20px;
  color: rgb(36, 36, 36);
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  text-shadow: rgb(112, 111, 107) 1px 0 10px;
  cursor: pointer;
  z-index: 30;
}
