@import '../../../../../assets/styles/main';

.answer_btn {
  border: 1px solid $lightGrey;
  border-radius: 10px;
  padding: 2px 5px;
}

.done {
  background-color: $firstColor;
}

.incorrect {
  background-color: $accentColor;
}
