@import '../../../../assets/styles/main';

button, i {
  cursor: pointer;
}

.audiocall {
  background-image: url("./img/bg.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: repeat;
  background-position: 0 0;
}

.audiocall_inner {
  position: fixed;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.answers {
  display: flex;
  width: 450px;
  justify-content: space-between;
  color: $light;
}

.buttons_footer {
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 5px;
}
