@import '../../assets/styles/main';

.header {
  padding-top: 26px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
  position: relative;
  @include wrapper;

  &:before {
    z-index: -1;
    display: block;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    content: "";
    background: linear-gradient(90deg, rgba(19,128,238,1) 0%, rgba(141,98,213,1) 50%, rgba(181,60,138,1) 100%);
    clip-path: polygon(100% 0, 0 0, 0 77.5%, 1% 77.4%, 2% 77.1%, 3% 76.6%, 4% 75.9%, 5% 75.05%, 6% 74.05%, 7% 72.95%, 8% 71.75%, 9% 70.55%, 10% 69.3%, 11% 68.05%, 12% 66.9%, 13% 65.8%, 14% 64.8%, 15% 64%, 16% 63.35%, 17% 62.85%, 18% 62.6%, 19% 62.5%, 20% 62.65%, 21% 63%, 22% 63.5%, 23% 64.2%, 24% 65.1%, 25% 66.1%, 26% 67.2%, 27% 68.4%, 28% 69.65%, 29% 70.9%, 30% 72.15%, 31% 73.3%, 32% 74.35%, 33% 75.3%, 34% 76.1%, 35% 76.75%, 36% 77.2%, 37% 77.45%, 38% 77.5%, 39% 77.3%, 40% 76.95%, 41% 76.4%, 42% 75.65%, 43% 74.75%, 44% 73.75%, 45% 72.6%, 46% 71.4%, 47% 70.15%, 48% 68.9%, 49% 67.7%, 50% 66.55%, 51% 65.5%, 52% 64.55%, 53% 63.75%, 54% 63.15%, 55% 62.75%, 56% 62.55%, 57% 62.5%, 58% 62.7%, 59% 63.1%, 60% 63.7%, 61% 64.45%, 62% 65.4%, 63% 66.45%, 64% 67.6%, 65% 68.8%, 66% 70.05%, 67% 71.3%, 68% 72.5%, 69% 73.6%, 70% 74.65%, 71% 75.55%, 72% 76.35%, 73% 76.9%, 74% 77.3%, 75% 77.5%, 76% 77.45%, 77% 77.25%, 78% 76.8%, 79% 76.2%, 80% 75.4%, 81% 74.45%, 82% 73.4%, 83% 72.25%, 84% 71.05%, 85% 69.8%, 86% 68.55%, 87% 67.35%, 88% 66.2%, 89% 65.2%, 90% 64.3%, 91% 63.55%, 92% 63%, 93% 62.65%, 94% 62.5%, 95% 62.55%, 96% 62.8%, 97% 63.3%, 98% 63.9%, 99% 64.75%, 100% 65.7%);
  }
}

.logo:focus {
  outline: none;
  transform: scale(1.1);
}

.list {
  display: flex;
}

.item {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.link {
  @include title-font(14px, normal);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $light;
  transition-duration: 300ms;
  position: relative;

  &:focus {
    outline: none;
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    display: block;
    background-color: transparent;
    transition-duration: 500ms;
    transition-property: left;
    left: -5px;
  }

  &:hover:after,
  &:focus:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    display: block;
    background-color: $light;
    transition-duration: 500ms;
    left: 0;
    outline: none;
  }
}

.avatar img{
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.name{
  color: $light;
}

@media (max-width: 1000px) {
  .burger {
    position: relative;
    width: 35px;
    height: 28px;
    margin-left: auto;
    cursor: pointer;
  }

  .burger span {
    display: block;
    position: absolute;
    width: 100%;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    height: 3px;
    background-color: $light;
    box-shadow: 0 1px 2px rgba(0, 73, 142, 0.2);

    &:nth-child(1) {
      top: 0;

      .menu-show & {
        top: 12px;
        width: 0;
        left: 50%;
      }
    }

    &:nth-child(2) {
      top: 12px;

      .menu-show & {
        transform: rotate(45deg);
      }
    }

    &:nth-child(3) {
      top: 12px;

      .menu-show & {
        transform: rotate(-45deg);
      }
    }

    &:nth-child(4) {
      top: 25px;

      .menu-show & {
        top: 10px;
        width: 0;
        left: 50%;
      }
    }
  }

  .burger.active {

    & span:nth-child(1) {
      top: 12px;
      width: 0;
      left: 50%;
    }

    & span:nth-child(2) {
      transform: rotate(45deg);
    }

    & span:nth-child(3) {
      transform: rotate(-45deg);
    }

    & span:nth-child(4) {
      top: 12px;
      width: 0;
      left: 50%;
    }
  }

  .list {
    @include visually-hidden;
    top: 90px;
    right: -100vw;
    transition-property: right;
    transition-duration: 300ms;
    background-repeat: repeat;

    &.active {
      @include remove-visually-hidden;
      background: linear-gradient(90deg, rgba(19,128,238,1) 0%, rgba(141,98,213,1) 50%, rgba(181,60,138,1) 100%);
      width: 100%;
      position: absolute;
      height: calc(100vh - 90px);
      text-align: center;
      box-sizing: border-box;
      padding-top: 50px;
      padding-bottom: 20px;
      overflow: auto;
      right: 0;
      flex-direction: column;
    }
  }

  .item {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .link {
    font-size: 20px;
  }
}
