@import '../../assets/styles/main';

.units {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.unit {
  margin-right: 15px;
  background-color: $firstColor;
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 10px;
  transition-duration: 500ms;

  &:hover {
    filter: saturate(200%);
    cursor: pointer;
  }

  &:nth-child(2) {
    background-color: $secondColor;
  }

  &:nth-child(3) {
    background-color: $thirdColor;
  }

  &:nth-child(4) {
    background-color: $fourthColor;
  }

  &:nth-child(5) {
    background-color: $fifthColor;
  }

  &:last-child {
    background-color: $sixthColor;
    margin-right: 0;
  }
}

.link {
  @include title-font(24px, 500, 120%);
  color: $light;
  text-decoration: none;
  display: inline-block;
  padding: 12px 37px;

  &:focus {
    outline: none;
    transform: scale(1.1);
  }
}

.title {
  @include title-font(26px, bold, 125%);
  color: $dark;
  margin-bottom: 30px;
}