@import '../../../assets/styles/main';

.loader {
  display: block;
  font-size: 75px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  & h1 {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light;
    color: $dark;
    border-radius: 50%;
  }
}
