/*--- Colors ---*/
$light: #fdfdfd;
$dark: #2f2f2f;
$darkGrey: #6C6C6C;
$lightGrey: #E5E5E5;
$firstColor: #1380EE;
$secondColor: #6970EC;
$thirdColor: #8D62D5;
$fourthColor: #A353BD;
$fifthColor: #E15CB2;
$sixthColor: #B53C8A;
$accentColor: #F13765;
$deletedWords: #858FBB;
