@import '../../assets/styles/main';

.wrap {
  margin-bottom: 80px;
  color: $dark;
}

.section_title {
  @include title-font(32px);
  margin-bottom: 40px;
}

.box {
  margin-bottom: 60px;
  display: flex;

  @media (max-width: 1000px) {
    flex-direction: column;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(2n) {
    .image {
      margin-right: 52px;
    }
  }

  &:nth-child(2n+1) {
    flex-direction: row-reverse;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
    .image {
      margin-left: 52px;
      @media (max-width: 1000px) {
        margin-left: 0;
      }
    }
  }
}

.image {
  width: 604px;
  height: 434px;
  object-fit: cover;
  object-position: bottom;

  @media (max-width: 1200px) {
    width: 454px;
    height: 284px;
  }

  @media (max-width: 1000px) {
    margin-bottom: 20px;
    margin-right: 0;
  }

  @media (max-width: 600px) {
    width: 100%;
    height: auto;
  }
}

.dev {
  .image {
    width: 504px;
    height: 434px;
    object-position: center;

    @media (max-width: 600px) {
      width: 100%;
      height: auto;
    }
  }

  .text_wrap {
    flex-basis: 440px;
    @media (max-width: 1000px) {
      flex-basis: auto;
    }
  }
}

.text_wrap {
  flex-basis: 640px;
  @media (max-width: 1000px) {
    flex-basis: auto;
  }
}

.title {
  @include title-font(26px);
  margin-bottom: 20px;
}

.text {
  @include text-font(14px, normal, 140%);
}

.p {
  margin-bottom: 20px;
  line-height: 150%;

  &:last-child {
    margin-bottom: 0;
  }
}